$break-small: 320px;
$break-large: 1200px;

.search {
  margin: 0.6rem;
}

.developer {
  margin: 0.3rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.sidePanel {
  @media screen and (max-width: $break-small) {
    width: 100px;
    float: none;
  }
  @media screen and (min-width: $break-large) {
    width: 30%;
    float: left;
  }
  height:100%;
}

.mailBox {
  background-color: ghostwhite;
  @media screen and (max-width: $break-small) {
    float: none;
  }
  @media screen and (min-width: $break-large) {
    width: 70%;
    float: left;
  }
  height: calc(100% - 100px);
}